#divBoton{
   height: 200px;
    margin-left: 40%;
    margin-right: 20%;
    
}
#divBoton2{
   height: 200px;
    margin-left: 30%;
    margin-right: 20%;
    
}

.form-group .required{
  content:"*";color:red;
}
#contenedor{
    margin-top: 10%;
}