{
    box-sizing: border-box
}
.slide {
    display: none
}
img {
    vertical-align: middle;
    max-height: 400px;
    object-fit:cover;
    
}
.contenedorSlider {
    max-width: 1000px;
    max-height: 450px;
    position: relative;
}
#izquierda{
    float: left;
    height: 900px;
}
.laterales{
    width: 15%;
    height: 900px;
    background-color: white;
}
#derecha{
    float:right;
}
#centro{
    margin: 5%;
    float: left;
    width: 60%;
    height: 500px;
}
.anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    user-select: none;
}
.siguiente {
    right: 0;
}
.siguiente:hover, .anterior:hover {
    background-color:white;
    opacity: 0.6;
}
.indiceFotos {
    margin:3px;
    background-color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    opacity: 0.6;
    top: 0;
}
#banerCookies{
    position: fixed;
    left:  0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

/*
.boton {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}*/
